*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a{
  color: #13aa52;
  text-decoration: none;
}
.btn{
  display:inline-flex;
  border: none;
  background: #636e72;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
}
